absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
backports.cached-property==1.0.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
cachetools==5.3.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
colorlog==6.8.2
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
docopt==0.6.2
einops==0.3.2
ffmpeg==1.4
filelock==3.14.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
google-auth==2.29.0
google-auth-oauthlib==1.0.0
greenlet==3.0.3
grpcio==1.63.0
hmmlearn==0.2.8
huggingface-hub==0.8.1
HyperPyYAML==1.2.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata==7.1.0
importlib_resources==6.4.0
intervaltree==3.1.0
Jinja2==3.1.4
joblib==1.4.0
julius==0.2.7
kaldi-io==0.9.8
kiwisolver==1.4.5
librosa==0.9.2
llvmlite==0.41.1
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.5
networkx==2.8.8
numba==0.58.1
numexpr==2.8.6
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
omegaconf==2.3.0
optuna==3.6.1
packaging==24.0
pandas==2.0.3
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1615243974661/work
platformdirs==4.2.1
pooch==1.8.1
primePy==1.3
protobuf==3.20.1
pyannote.audio==0.0.1
pyannote.core==4.5
pyannote.database==4.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyDeprecate==0.3.2
Pygments==2.17.2
pyparsing==3.1.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
pytorch-lightning==1.6.5
pytorch-metric-learning==1.7.3
pytz==2024.1
PyYAML==6.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==2.0.0
resampy==0.4.3
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.3.2
scipy==1.10.1
semver==2.13.0
sentencepiece==0.2.0
shellingham==1.5.4
simplejson==3.19.2
singledispatchmethod==1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
speechbrain==0.5.16
SQLAlchemy==2.0.29
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==1.12.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==0.12.1
torchmetrics==0.11.4
torchvision==0.13.1
tqdm==4.66.2
triton==2.3.0
typer==0.12.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata==2024.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
Werkzeug==3.0.2
yarl==1.9.4
zipp==3.18.1
